<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="BIND_port" value="8083"/>
    <add key="BIND_useSSL" value="1"/>
    <add key="BIND_pfxFileName" value="probim_cn_2021_12_0000.pfx"/>
    <add key="BIND_pfxFilePassword" value="0000"/>
  </appSettings>
</configuration>