/sln.JingruiZhang.Util/.vs
/sln.JingruiZhang.Util/packages
/sln.JingruiZhang.Util/JingruiZhang.Util/bin
/sln.JingruiZhang.Util/JingruiZhang.Util/obj
/sln.JingruiZhang.Util/JingruiZhang.Util.FleckNet45ClientTest/bin
/sln.JingruiZhang.Util/JingruiZhang.Util.FleckNet45ClientTest/obj
/sln.JingruiZhang.Util/JingruiZhang.Util.FleckNet45Test/bin
/sln.JingruiZhang.Util/JingruiZhang.Util.FleckNet45Test/obj